<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="projectppb.com">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_math_syllabus_foreground"
        android:label="Math Syllabus"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Applied_Finance_Compound"></activity>
        <activity android:name=".Applied_Finance_Simple" />
        <activity android:name=".Applied_Interpolation_Polynomial_Lagrange" />
        <activity android:name=".Applied_Interpolation_Polynomial_Newtons" />
        <activity android:name=".Applied_Interpolation_Polynomial_Polynomial" />
        <activity android:name=".Applied_Interpolation_Polynomial" />
        <activity android:name=".Applied_Interpolation_Taylors" />
        <activity android:name=".Applied_Interpolation_Interpolation" />
        <activity android:name=".Applied_Interpolation_Inverse" />
        <activity android:name=".Calculus_Sequences_Operations" />
        <activity android:name=".Calculus_Sequences_Limit" />
        <activity android:name=".Calculus_Sequences_Bounded" />
        <activity android:name=".Calculus_Sequences_Monotonous" />
        <activity android:name=".Calculus_Sequences_Definition" />
        <activity android:name=".Calculus_Square_Elements" />
        <activity android:name=".Calculus_Square_Product" />
        <activity android:name=".Calculus_Square_Definition" />
        <activity android:name=".Calculus_Progressions_Geometric_Infinite" />
        <activity android:name=".Calculus_Progressions_Geometric_Sum" />
        <activity android:name=".Calculus_Progressions_Geometric_Product" />
        <activity android:name=".Calculus_Progressions_Geometric_General" />
        <activity android:name=".Calculus_Progressions_Geometric_Geometric" />
        <activity android:name=".Calculus_Progressions_Arithmetical_Sum" />
        <activity android:name=".Calculus_Progressions_Arithmetical_General" />
        <activity android:name=".Calculus_Progressions_Arithmetical_Arithmetical" />
        <activity android:name=".Calculus_Progressions_Geometric" />
        <activity android:name=".Calculus_Progressions_Arithmetical" />
        <activity android:name=".Calculus_Radicals_Factorization" />
        <activity android:name=".Calculus_Radicals_Rationlization" />
        <activity android:name=".Calculus_Radicals_Radicals" />
        <activity android:name=".Calculus_Radicals_Amplification" />
        <activity android:name=".Calculus_Powers_Radicals" />
        <activity android:name=".Calculus_Powers_Powers3" />
        <activity android:name=".Calculus_Powers_Operations" />
        <activity android:name=".Calculus_Powers_Powers2" />
        <activity android:name=".Calculus_Powers_Powers" />
        <activity android:name=".Calculus_Complex_nth" />
        <activity android:name=".Calculus_Complex_Exponentiation2" />
        <activity android:name=".Calculus_Complex_Exponentiation" />
        <activity android:name=".Calculus_Complex_Complex3" />
        <activity android:name=".Calculus_Complex_Representation2" />
        <activity android:name=".Calculus_Complex_Operations2" />
        <activity android:name=".Calculus_Complex_Complex2" />
        <activity android:name=".Calculus_Complex_Complex" />
        <activity android:name=".Calculus_Complex_Representation" />
        <activity android:name=".Calculus_Complex_Operations" />
        <activity android:name=".Calculus_Complex_Definition" />
        <activity android:name=".Calculus_Measurements_Saxon" />
        <activity android:name=".Calculus_Measurements_Traditional" />
        <activity android:name=".Calculus_Measurements_Complex" />
        <activity android:name=".Calculus_Measurements_Decimal" />
        <activity android:name=".Calculus_Logarithms_Logarithms" />
        <activity android:name=".Calculus_Logarithms_Using" />
        <activity android:name=".Calculus_Logarithms_Base" />
        <activity android:name=".Calculus_Logarithms_Properties" />
        <activity android:name=".Calculus_Sequences" />
        <activity android:name=".Calculus_Square" />
        <activity android:name=".Calculus_Progressions" />
        <activity android:name=".Calculus_Powers" />
        <activity android:name=".Calculus_Complex" />
        <activity android:name=".Calculus_Measurements" />
        <activity android:name=".Calculus_Logarithms" />
        <activity android:name=".Calculus_Inequations" />
        <activity android:name=".Calculus_Graphic" />
        <activity android:name=".Calculus_Functions_Absolute" />
        <activity android:name=".Calculus_Functions_Functions2" />
        <activity android:name=".Calculus_Functions_Logarithmic" />
        <activity android:name=".Calculus_Functions_Exponential" />
        <activity android:name=".Calculus_Functions_Irrational" />
        <activity android:name=".Calculus_Functions_Rational" />
        <activity android:name=".Calculus_Functions_Polynomial" />
        <activity android:name=".Calculus_Functions_Operations" />
        <activity android:name=".Calculus_Functions_Characteristics" />
        <activity android:name=".Calculus_Functions_Graphic" />
        <activity android:name=".Calculus_Functions_Graph" />
        <activity android:name=".Calculus_Functions_Image" />
        <activity android:name=".Calculus_Functions_Domain" />
        <activity android:name=".Calculus_Functions_Computation" />
        <activity android:name=".Calculus_Functions_Concept2" />
        <activity android:name=".Calculus_Functions_Constant" />
        <activity android:name=".Calculus_Functions_FUnctions" />
        <activity android:name=".Calculus_Functions_Concept" />
        <activity android:name=".Calculus_Functions_Cartesian" />
        <activity android:name=".Calculus_Logarithmic_Systems" />
        <activity android:name=".Calculus_Logarithmic_Logarithmic2" />
        <activity android:name=".Calculus_Logarithmic_Logarithmic" />
        <activity android:name=".Calculus_Exponential_Solving4" />
        <activity android:name=".Calculus_Exponential_Solving3" />
        <activity android:name=".Calculus_Exponential_Solving2" />
        <activity android:name=".Calculus_Exponential_Solving" />
        <activity android:name=".Calculus_Exponential_Introduction" />
        <activity android:name=".Number_Sexagesimal" />
        <activity android:name=".Number_Proportional" />
        <activity android:name=".Number_The_Real" />
        <activity android:name=".Number_Natural" />
        <activity android:name=".Number_Integer" />
        <activity android:name=".Number_Decimal" />
        <activity android:name=".Number_diophantine" />
        <activity android:name=".Number_divisibility" />
        <activity android:name=".Number" />
        <activity android:name=".discrete_combinatorics" />
        <activity android:name=".discrete_combinatorial_number" />
        <activity android:name=".Discrete" />
        <activity android:name=".Foundations_theory" />
        <activity android:name=".Foundations" />
        <activity android:name=".Recreational_Encrypted" />
        <activity android:name=".Recreational" />
        <activity android:name=".Probability_Probability" />
        <activity android:name=".Probability_Statistics" />
        <activity android:name=".Probability_Distributions" />
        <activity android:name=".Probability" />
        <activity android:name=".Geometry_Volumes" />
        <activity android:name=".Geometry_Space" />
        <activity android:name=".Geometry_Movements" />
        <activity android:name=".Geometry_Conics" />
        <activity android:name=".Geometry_Circum" />
        <activity android:name=".Geometry_Areas" />
        <activity android:name=".Geometry_Angles" />
        <activity android:name=".Geometry_Analytic" />
        <activity android:name=".Geometry_Affine" />
        <activity android:name=".Geometry" />
        <activity android:name=".Calculus_Vector" />
        <activity android:name=".Calculus_Logarithmic" />
        <activity android:name=".Calculus_Limits" />
        <activity android:name=".Calculus_Integration" />
        <activity android:name=".Calculus_Functions" />
        <activity android:name=".Calculus_Exponential" />
        <activity android:name=".Calculus_Differential" />
        <activity android:name=".Calculus_Derivatives" />
        <activity android:name=".Calculus_Continuity" />
        <activity android:name=".Calculus" />
        <activity android:name=".Applied_Interpolation" />
        <activity android:name=".Applied_Finance" />
        <activity android:name=".Applied" />
        <activity android:name=".Algebra_Vector" />
        <activity android:name=".Algebra_Polynomials" />
        <activity android:name=".Algebra_Matrices" />
        <activity android:name=".Algebra_Linear" />
        <activity android:name=".Algebra_Fractions" />
        <activity android:name=".Algebra_equations" />
        <activity android:name=".Algebra_Determinants" />
        <activity android:name=".Algebra" />
        <activity android:name=".Viewed" />
        <activity android:name=".Favorites" />
        <activity android:name=".Settings" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>