<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="projectppb.com">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Math Syllabus"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Number_Sexagesimal"></activity>
        <activity android:name=".Number_Proportional" />
        <activity android:name=".Number_The_Real" />
        <activity android:name=".Number_Natural" />
        <activity android:name=".Number_Integer" />
        <activity android:name=".Number_Decimal" />
        <activity android:name=".Number_diophantine" />
        <activity android:name=".Number_divisibility" />
        <activity android:name=".Number" />
        <activity android:name=".discrete_combinatorics" />
        <activity android:name=".discrete_combinatorial_number" />
        <activity android:name=".Discrete" />
        <activity android:name=".Foundations_theory" />
        <activity android:name=".Foundations" />
        <activity android:name=".Recreational_Encrypted" />
        <activity android:name=".Recreational" />
        <activity android:name=".Probability_Probability" />
        <activity android:name=".Probability_Statistics" />
        <activity android:name=".Probability_Distributions" />
        <activity android:name=".Probability" />
        <activity android:name=".Geometry_Volumes" />
        <activity android:name=".Geometry_Space" />
        <activity android:name=".Geometry_Movements" />
        <activity android:name=".Geometry_Conics" />
        <activity android:name=".Geometry_Circum" />
        <activity android:name=".Geometry_Areas" />
        <activity android:name=".Geometry_Angles" />
        <activity android:name=".Geometry_Analytic" />
        <activity android:name=".Geometry_Affine" />
        <activity android:name=".Geometry" />
        <activity android:name=".Calculus_Vector" />
        <activity android:name=".Calculus_Logarithmic" />
        <activity android:name=".Calculus_Limits" />
        <activity android:name=".Calculus_Integration" />
        <activity android:name=".Calculus_Functions" />
        <activity android:name=".Calculus_Exponential" />
        <activity android:name=".Calculus_Differential" />
        <activity android:name=".Calculus_Derivatives" />
        <activity android:name=".Calculus_Continuity" />
        <activity android:name=".Calculus" />
        <activity android:name=".Applied_Interpolation" />
        <activity android:name=".Applied_Finance" />
        <activity android:name=".Applied" />
        <activity android:name=".Algebra_Vector" />
        <activity android:name=".Algebra_Polynomials" />
        <activity android:name=".Algebra_Matrices" />
        <activity android:name=".Algebra_Linear" />
        <activity android:name=".Algebra_Fractions" />
        <activity android:name=".Algebra_equations" />
        <activity android:name=".Algebra_Determinants" />
        <activity android:name=".Algebra" />
        <activity android:name=".Viewed" />
        <activity android:name=".Favorites" />
        <activity android:name=".Settings" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>